*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'B612 Mono', monospace;
}
 
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.field {
  display: inline-block;
  width: 130px;
  height: 130px;
  border: 2px solid #000000;
  border-right: none;
}

.field:last-of-type {
  border: 2px solid #000000;
}

.field-wrap {
  position: relative;
  display: flex;
}

.fishka-img {
  position: absolute;
  top: 15px;
  left: 35px;
  width: 55px;
  height: 100px;
}

.cube-img {
  width: 130px;
  height: 130px;
  border: 1px solid #000000;
}

.btn {
  width: 150px;
  height: 150px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #F75050;
  border: 3px solid #000000;
  margin: 10px;
}

.result {
  font-size: 30px;
  font-weight: 700;
}