@use "@material/checkbox"; // Required only for data table with row selection.
// @use "@material/icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";
@import "normalize.scss";
@import "style.scss";
@import "../components/Table/main.scss";
@include checkbox.core-styles;
// @include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;