.title-h1 {
  color: #000000;
}

.mdc-data-table {
  width: 100%;
}

.mdc-data-table .mdc-data-table__header-cell {
  font-weight: 700;
  text-align: center;
  background-color: rgba(255, 159, 64, 0.2);
}

.mdc-data-table__row td {
  text-align: center;
}